---
import PageLayout from "../layouts/PageLayout.astro";
---

<PageLayout
	title="EcofriendlyCoffee"
	description="An archive of articles on coffee and biodiversity"
>
	<p>EcofriendlyCoffee is now an archive.</p>

	<p>Add TEXT here</p>

	<p>
		Follow us on <a href="https://www.facebook.com/EcoFriendlyCoffee" target="_blank">Facebook</a> and
		<a href="https://www.instagram.com/ecofriendly_coffee/" target="_blank">Instagram</a>.
	</p>
</PageLayout>
