---
import PageLayout from "../layouts/PageLayout.astro";
---

<PageLayout
	title="EcofriendlyCoffee"
	description="An archive of articles on coffee and biodiversity"
>
	<p>EcofriendlyCoffee is now an archive.</p>

	<p>
		As of June 2025, EcofriendlyCoffee will no longer publish new content. However, the full archive
		will remain online—for all to enjoy. All 192 articles. Thank you to everyone.
	</p>

	<p>
		<img src="/images/efc-authors.jpg" alt="EcofriendlyCoffee authors" />
	</p>
	<p>
		We are still active on <a href="https://www.facebook.com/EcoFriendlyCoffee" target="_blank"
			>Facebook</a
		> and
		<a href="https://www.instagram.com/ecofriendly_coffee/" target="_blank">Instagram</a>.
	</p>
</PageLayout>
